# Multiple linear regression

## Import the relevant libraries

In [ ]:
#will need NumPy, pandas, matplotlib and seaborn
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()


from sklearn.linear_model import LinearRegression

## Load the data

In [2]:
#Load data
data = pd.read_csv('1.02. Multiple linear regression.csv')

data.head()

    SAT  Rand 1,2,3   GPA
0  1714           1  2.40
1  1664           3  2.52
2  1760           3  2.54
3  1685           3  2.74
4  1693           2  2.83

In [3]:
#describe method
data.describe()

               SAT  Rand 1,2,3        GPA
count    84.000000   84.000000  84.000000
mean   1845.273810    2.059524   3.330238
std     104.530661    0.855192   0.271617
min    1634.000000    1.000000   2.400000
25%    1772.000000    1.000000   3.190000
50%    1846.000000    2.000000   3.380000
75%    1934.000000    3.000000   3.502500
max    2050.000000    3.000000   3.810000

## Create the multiple linear regression

### Declare the dependent and independent variables

In [4]:
#independent
x = data[['SAT','Rand 1,2,3']]

#dependent
y = data['GPA']

### Regression itself

In [9]:
#create a reg instance of the LinearRegression class
reg = LinearRegression()

#now fit the model
#REMEMBER, we don't have to reshape the x as it has more than one feature/input

reg.fit(x,y) #---> order matters! So remember, its X,Y

LinearRegression()

In [11]:
#get coefficient
reg.coef_

#the array outcome is ordered by how we created the independent variable, so first element is for SAT
#and the second element is for Rand 1,2,3

array([ 0.00165354, -0.00826982])

In [12]:
#get intercept
reg.intercept_

0.29603261264909486

### Calculating the R-squared

In [13]:
# Get the R-squared of the regression
reg.score(x,y)

0.40668119528142843

## Formula for Adjusted R^2

$R^2 _{adj.} = 1 - (1-R^2) *\frac{n-1}{n-p-1}$

**n stands for number of observations**
84 in this case



**p is for the number of predictors**
2 in this case

In [14]:
x.shape

(84, 2)

In [16]:
#first declare variable named r2 to store the R^2 you found earlier
r2 = reg.score(x,y)

#now define the n and p values. These values are expressed in the result of x.shape

# Number of observations is the shape along axis 0
n = x.shape[0]

# Number of features aka inputs (predictors, p) is the shape along axis 1
p = x.shape[1]

#find the Adjusted R-squared using the formula
adjusted_r2 = 1 - (1 - r2) * ((n-1)/(n-p-1))

adjusted_r2

0.39203134825134023