# Multiple linear regression

## Import the relevant libraries

In [1]:
# For these lessons we will need NumPy, pandas, matplotlib and seaborn
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

# and of course the actual regression (machine learning) module
from sklearn.linear_model import LinearRegression

## Load the data

In [3]:
# Load the data from a .csv in the same folder
data = pd.read_csv('1.02. Multiple linear regression.csv')

                   
data.head()

    SAT  Rand 1,2,3   GPA
0  1714           1  2.40
1  1664           3  2.52
2  1760           3  2.54
3  1685           3  2.74
4  1693           2  2.83

In [4]:
# This method gives us very nice descriptive statistics. We don't need this for now, but will later on!

#use describe method
data.describe()

               SAT  Rand 1,2,3        GPA
count    84.000000   84.000000  84.000000
mean   1845.273810    2.059524   3.330238
std     104.530661    0.855192   0.271617
min    1634.000000    1.000000   2.400000
25%    1772.000000    1.000000   3.190000
50%    1846.000000    2.000000   3.380000
75%    1934.000000    3.000000   3.502500
max    2050.000000    3.000000   3.810000

## Create the multiple linear regression

### Declare the dependent and independent variables

In [7]:
# There are two independent variables: 'SAT' and 'Rand 1,2,3'
x = data[['SAT','Rand 1,2,3']]

#dependent
y = data['GPA']

### Regression itself

In [8]:
#We start by declaring reg as an instance on the LinearRegression class
#instance is an object and vice versa. Object is called instance when talking about Classes
reg = LinearRegression()

#now fit the regression
#remember, ORDER MATTERS HERE. MUST BE X,Y 
reg.fit(x,y)

LinearRegression()

**NOTE:** notice that we dont have to reshape the x because we have more than ONE value!

In [9]:
# Get coefficients of the regression
reg.coef_
# Note that the output is an array

array([ 0.00165354, -0.00826982])

**NOTE: the array output is ordered in the way you fed them (x variables) when doing x = data[[....]]**

the first element **references** the output for SAT and the second element **references** the output for Rand 1,2,3

In [11]:
# Get intercept of the regression
reg.intercept_
# Note that the result is a float as we usually expect a single value

0.29603261264909486